/* configs iniciais */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=Open+Sans&display=swap');

:root{
    --body-bg: #0a0a0a;
    --body-bg-menu: #101010eb;
    --body-font: #F0F0F0;
    --line-font: #1a1a1a;
    --scroll-bar: #202020;
    --tema-color: #fd6a18;
}
.light-mode:root{
    --body-bg: #f9f9f9;
    --body-bg-menu: #e6e6e6eb;
    --body-font: #0e0e0e;
    --line-font: #dddddd;
    --scroll-bar: #c7c7c7;
    --tema-color: #2a2568;
}
.tema-vermelho:root{
    --font-theme: #f54343;
    --font-buttom: #F0F0F0;
    --actve-color: #c93131;
}
.tema-azul:root{
    --font-theme: #4485ff;
    --font-buttom: #F0F0F0;
    --actve-color: #235ECC;
}
.tema-verde:root{
    --font-theme: #3bd78e;
    --font-buttom: #F0F0F0;
    --actve-color: #218A59;
}
.tema-lilas:root{
    --font-theme: #8b5cf8;
    --font-buttom: #F0F0F0;
    --actve-color: #5B2DC4;
}
.tema-amarelo:root{
    --font-theme:#f0b943;
    --font-buttom: #F0F0F0;
    --actve-color: #BF8E22;
}
*::selection{
    color:  var(--font-buttom);
    background-color: var(--font-theme);
}
html {
    height: 100%;
    background-color: var(--body-bg);
}
.body{
    background-color: var(--body-bg);    
    font-family: 'Open Sans', sans-serif; 
    min-height: 100%; 
    transition: 0.1s;
    max-width: 100%;
    overflow-x: hidden;
}
/* Scrollbart */
::-webkit-scrollbar {
    width: 20px;
    height: 10px;
    background: var(--body-bg-menu);
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
    
}
::-webkit-scrollbar-thumb {
    background: var(--scroll-bar);
    border: 5px solid var(--body-bg-menu);
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: var(--body-bg-menu);
    border: 2px none var(--line-font);
    border-radius: 50px;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
/* Animação Scroll */
@media only screen and (max-height: 800px){

    [data-animacao="down"]{
        opacity: 0;
        transition: 1s;
        transform: translate3d(0px, 30px, 0);
    }
    [data-animacao="left"]{
        opacity: 0;
        transition: 1s;
        transform: translate3d(-20px, 0px, 0);
    }
    [data-animacao="right"]{
        opacity: 0;
        transition: 1s;
        transform: translate3d(20px, 0px, 0);
    }
    [data-animacao].animacao{
        opacity: 1;
        transform: translate3d(0px, 0px, 0);
    }
}
.offSite{
    filter: brightness(0.7);
}
/* Responsividade */
@media only screen and (min-width: 992px) {
    .menu-aberto{width: 300px; left: 0; transition: 0s;}
    .menu-fechado{width: 300px; left: -300px;}
    main li:after{width: 136px;}
    .menu-button{left: 25px; top: 40px;}
    .intro-img{display: flex; align-items: center; justify-content: center;}
    .base-redes{width: 200px; height: 200px;}
    .text-redes{width: 100%; height: 100%;}
    .base-redes:hover .text-redes{width: 100%; height: 100%;}
    .base-redes p{font-size:20px;}
    .footer-assinatura{font-size: 3.4rem;}
    .base-redes:hover .text-redes{
    transform: translateY(0px);
    opacity: 1;
    top:0;
    transition: 0.2s cubic-bezier(.7,.02,.28,.9);
    }
}
@media only screen and (max-width: 991px) {
    main li:after{display: none;}
    .menu-aberto{width: 300px; left: 0; transition: 3s;}
    .menu-fechado{width: 300px; left: -300px;}
    .menu-button{bottom: 60px; right: 30px;}
    .capa-titulo h1{font-size: 45px;}
    .logo-capa-none{display: none;}
    .intro-img{display: none; opacity: 0;}
    .img-feedback img{display: none;}
    .base-redes{width: 100px; height: 100px;}
    .text-redes{width: 100px; height: 0;}
    .base-redes:hover .text-redes{width: 100%; height: 100%;}
    .base-redes p{font-size: 15px;}
    .footer-assinatura{font-size: 2.9rem;}
}
@media only screen and (max-width: 400px){
    .menu-aberto{width: 100vw; left: 0; transition: 1s;}
    .menu-fechado{width: 100vw; left: -100vw;}
}
@media only screen and (max-width: 280px){
    .footer-assinatura{font-size: 30px;}
}
@media only screen and (max-width: 1600px){
    .close-menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 1;
        background-color:#0a0a0a40;
    }
}
@media only screen and (min-width: 1600px){
    .close-menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 0;
        display: none;
        background-color:#0a0a0a40;
    }
    .body-menu{
        background-color: var(--body-bg);    
        font-family: 'Open Sans', sans-serif; 
        min-height: 100%;
        transition: 0.1s;
        max-width: 100%;
        padding-left: 300px;
        overflow-x: hidden;
    }
}

/* menu */
/* menu-lista */
.menu-aberto{
    background-color: var(--body-bg-menu);
    backdrop-filter: blur( 13.5px );
    height: 100vh;
    overflow-y: scroll;
    color: var(--body-font);
    display: flex;
    top: 0px;
    position: fixed;
    left: 0px;
    max-height: 100%;
    z-index: 2;
    justify-content: center;
}
.menu-lista{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 400px;
    padding: 80px 20px 20px 20px;
}
main ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
main li{
    font-weight: 500;
    margin: 12px 10px 10px 10px;
    font-size: 20px;
    padding: 15px 15px 15px 15px;
    background-color: none;
    transition: 0.5s ease-in-out;
    border-radius: 40px;
}
main a{
    color: inherit;
    text-decoration: inherit;
    margin: none;

}
.menu-fechado{
    background-color: var(--body-bg-menu);
    backdrop-filter: blur( 13.5px );
    height: 100vh;
    overflow-y: scroll;
    color: var(--body-font);
    display: flex;
    position: fixed;
    z-index: 1;
    justify-content: center;
    transition: 0.1s ease-in-out;
}
/* menu-temas */
.menu-temas{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-align: center;
    display: inline;
    border-top: solid var(--line-font) 2px;
}
.menu-temas p{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: -20px;
}
.menu-temas-cores{
    display: inline-block;
    justify-items: center;
    width: 100%;
    cursor: pointer !important;
}
.menu-temas-cores input{
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50px;
    box-sizing: border-box;
    position: relative;
    transition: 0.2s ease-in-out;
    box-shadow: 0 0 0 0px var(--body-font);
    border: none;
    opacity: 0;
}
.menu-cor-vermelho, .menu-cor-amarelo, .menu-cor-lilas,
.menu-cor-azul, .menu-cor-verde{
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50px;
    box-sizing: border-box;
    position: relative;
    margin: 4px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 0 0 0px var(--font-theme);
}
.menu-cor-vermelho{background-color: #dd2929;}
.menu-cor-amarelo{background-color: #d49c23;}
.menu-cor-lilas{background-color: #733af8;}
.menu-cor-verde{background-color: #2ebd7a;}
.menu-cor-azul{background-color: #2c76ff;}

/* menu tema principal */
.label-tema-principal{
    background-image: url(../img/icon/light_mode.svg);
    background-position: left center;
    background-size: auto 100%;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    margin-top: 5px;
    transition: 0.2s ease-in-out;
    color: var(--font-buttom)
}
.menu-tema-principal input:checked + .label-tema-principal{
    background-image: url(../img/icon/dark_mode.svg);
    transition: 0.2s ease-in-out;
    color: var(--font-buttom);
}
.menu-tema-principal input{
    width: 35px;
    height: 35px;
    display: none;
}
.menu-tema-principal {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-tema-principal-base{
    width: 40px;
    height: 40px;
    background-color:var(--tema-color);
    border-radius: 50%;
    margin-top: 15px;
    transition: 0.2s ease-in-out;
}
/* Menu Contatos */
.menu-contatos{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-align: center;
    display: inline;
    border-top: solid var(--line-font) 2px;
}
.menu-contatos p{
    font-size: 22px;
    font-weight: 500;
}
.contatos i{
    font-size: 24px;
    margin: 5px;
    width: 24px;
    height: 24px;
    transition: 0.5s ease-in-out;
}
/* Botão Menu */
.menu-button{
    background-color: var(--font-theme);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    cursor: pointer;
    box-shadow: 0 0 0 0px var(--font-theme),2px 2px 5px 0px rgba(0, 0, 0, 0.425);
    transition: box-shadow 0.5s ease-in-out, 0.5s ease-in-out;
    z-index:999;
}
.hamburguer{
    display: block;
    width: 24px;
    background-color:var(--font-buttom);
    height: 4px;
    border-radius: 5px;
    position: relative;
    margin-top: 22px;
    margin-left: 13px;
    z-index: 999;
    transition: 0.2s cubic-bezier(.7,.02,.28,.9);
}
.hamburguer::after{
    display: block;
    width: 100%;
    background-color:var(--font-buttom);
    height: 100%;
    content: '';
    position: absolute;
    border-radius: 5px;
    top: 8px;
    transition: 0.2s cubic-bezier(.7,.02,.28,.9)
}
.hamburguer::before{
    display: block;
    width: 100%;
    background-color:var(--font-buttom);
    height: 100%;
    content: '';
    position: absolute;
    border-radius: 5px;
    top: -8px;
    transition: 0.2s cubic-bezier(.7,.02,.28,.9)
}
input:checked ~ label .hamburguer{
    transform: rotate(45deg);
    transition: 0.2s cubic-bezier(.7,.02,.28,.9);
}
input:checked ~ label .hamburguer::before{
    transform: rotate(90deg);
    top:0;
    transition: 0.2s cubic-bezier(.7,.02,.28,.9);
}
input:checked ~ label .hamburguer::after{
    transform: rotate(90deg);
    top:0;
    transition: 0.2s cubic-bezier(.7,.02,.28,.9);
}

/* capa */
.intro-img img{
    animation: imageFloat 20s ease-in-out infinite;
    position: absolute;
    animation-delay: 4s;
}

@keyframes imageFloat{
    0%, 100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-100px);
    }
}
.capa{
    background-image: linear-gradient(var(--font-theme) 10%,var(--body-bg) 10%);
    height: 20vh;
    justify-content: center;
    display: flex;
    align-items: center;
}
.capa-container{
    width: 100%;
    position: relative;
}
.capa-container h1{
    color: var(--body-font);
    font-size: 25px;
    padding: 40px 20px 0px 20px;
    font-weight: normal;
    width: 100%;
}
.capa-container h1::after{
    content: '|';
    color: var(--font-theme);
    margin-left: -4px;
    font-weight: bold;
    font-size: 30px;
    animation: cursorPisca 800ms infinite normal;
}
@keyframes cursorPisca {
    0% , 100%{opacity: 1;
    }50%{opacity: 0;}
}
.capa-container h1::before{
    content: "por Lucas Gabriel";
    font-size: 16px;
    display: block;
    position: relative;
    margin-left: 2px;
    font-family: 'Dancing Script', cursive, 'Open Sans', sans-serif;
    opacity:0;
    animation: assinatura 1s normal;
    animation-delay: 3800ms;
    animation-fill-mode: forwards;
}
@keyframes assinatura {
    from{opacity: 0;
    }to{opacity: 1;}
}
header{background-color: var(--body-bg);}

/* Introduçao */
.intro-container{
    background-color: var(--body-bg);
    display: flex;
    height: 100%;
}
.linha-intro{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
}
.intro-text h1{
    color: var(--font-theme);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 20px;
    padding-bottom: 50px;
}
.intro-text p{
    color: var(--body-font);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9375rem;
    padding: 5px 20px 5px 20px;
    line-height: 30px;
}
header .intro-container button{
    width: 150px;
    height: 50px;
    margin: 20px 20px 20px 20px;
    border: none;
    border-radius: 50px;
    background-color: var(--font-theme);
    color: var(--font-buttom);
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 0 0px var(--font-theme);
}

/* portfólio */
.portfolio-container h1{
    color: var(--font-theme);
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
    font-weight: bold;
}
.card-scroll{
    display:flex;
    padding: 20px;
}
.card-line{
    position: relative;
    justify-content: center;
    height: 550px;
    z-index: 0;
    display:flex;
}
.card-container{
    background-color: var(--body-bg);
    height: 550px;
    overflow-x: scroll;
    overflow-y: none;
    position: relative;
    display:flex;
}
.card-container::-webkit-scrollbar {
    display: none;
}
.card-base{
    width: 250px;
    height: 480px;
    background-color:var(--body-bg-menu);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.425);
    margin: 20px;
    z-index: 0;
    border-radius: 50px;
    display: inline-block;
}
.card-titulo{
    width: 100%;
    text-align: center;
    padding-top: 50px;
    justify-content: center;
    background-size: cover;
    height: 150px;
    border-radius: 50px 50px 0 0;
    background-position: center;
}
header #c1{background-image: url(../img/card/prototipos.png);}
header #c2{background-image: url(../img/card/faculdade.jpg);}
header #c3{background-image: url(../img/card/empresa.png);}
header #c4{background-image: url(../img/card/certificações.jpg);}
header #c5{background-image: url(../img/card/outros.jpeg);}
.card-titulo h2{
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 25px;
    padding: 20px 25px 20px 20px;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.678);
}
.card-text{
    height: 300px;
    width: 100%;
    padding: 40px 25px 0px 25px ;
    display: flex;
    text-align: center;
}
.card-text p{
    color: var(--body-font);
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 30px;
}
.card-container button{
    width: 150px;
    height: 50px;
    margin: -5px 20px 20px 20px;
    border: none;
    border-radius: 50px;
    background-color: var(--font-theme);
    color: var(--font-buttom);
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 0 0px var(--font-theme);
    transition: 0.5s ease-in-out;
}
.seta-esquerda{
    position:absolute;
    background-color: var(--body-bg);
    box-shadow: 0 0 15px 15px var(--body-bg);
    width: 15px;
    height: 100%;
    z-index: 1;
    left: 0px;
    top: 15px;
}
.seta-direita{
    position:absolute;
    background-color: var(--body-bg);
    box-shadow: 0 0 15px 15px var(--body-bg);
    width: 15px;
    height: 100%;
    z-index: 1;
    right:0px;
    top: 15px;
    justify-content: end;
}
.botao-seta-esquerda{
    width: 50px;
    height: 50px;
    background-color: var(--font-theme);
    border-radius: 50%;
    display: flex;
    align-items: center;
    position: absolute;
    top:20px;
    left: 10px;
    z-index: 10;
    justify-content: center;
    color: var(--font-buttom);
    box-shadow: 0 0 0 0px var(--font-theme), 2px 2px 5px 0px rgba(0, 0, 0, 0.425);
    transition: 0.5s ease-in-out;
}
.botao-seta-direita{
    width: 50px;
    height: 50px;
    background-color: var(--font-theme);
    border-radius: 50%;
    display: flex;
    position: absolute;
    top:20px;
    right: 10px;
    z-index: 10;
    justify-content: center;
    align-items: center;
    color: var(--font-buttom);
    box-shadow: 0 0 0 0px var(--font-theme), 2px 2px 5px 0px rgba(0, 0, 0, 0.425);
    transition: 0.5s ease-in-out;
}

/* Estudos */
.estudos-container, .sugestão-container{
    margin-top: 50px;
    height: 100%;

}
.estudos-container h1, .sugestão-container h1{
    color: var(--font-theme);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding: 20px;
}
.estudos-container p, .sugestão-container p{
    color: var(--body-font);
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding: 5px 20px 0 20px;
    line-height: 30px;
}
.card-estudos{
    width: 95%;
    background-color:var(--body-bg-menu);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.425);
    z-index: 0;
    border-radius: 50px;
    padding: 30px 20px 30px 20px;
    margin-top: 20px;
    padding-top: 40px;
}
.card-estudos h2{
    color: var(--font-theme);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    padding: 0px 20px 0px 20px;
}
.coluna-estudos{
    display: flex;
    justify-content: center;
}

/* Contato */
.container-redes{
    margin-top: 40px;
}
.container-redes a{
    color: var(--font-theme);
}
.coluna-redes{
    display: flex;
    text-decoration: none;
    justify-content: center;
    margin-bottom: 50px;
}
.container-redes h1{
    color: var(--font-theme);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding: 20px 20px 40px 20px;
    margin-top: 40px;
}
.base-redes{
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.425);
    position: relative;
    border-radius: 50px;
    background-color: var(--font-theme);
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 10px 5px 10px 5px;
    align-items: center;
    font-family: 'Open Sans', sans-serif; 
    padding: 20px 20px 20px 20px;
}
.base-redes i{
    color: var(--font-buttom);
    text-decoration: none;
    font-size: 60px;
    transition: 1s ease-in-out;
    display: inline;
    font-style: none;
    border: none;
}
.text-redes{
    height: 0px;
    top:0;
    display: flex;
    border-radius: 50px;
    background-color: #202020c9;
    backdrop-filter: blur( 10.5px );
    left: 0px;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateY(200px);
    opacity: 0;
    transition: 0.2s ease-in-out;
}
.base-redes p{
    color: var(--font-theme);
    font-weight: bold;
    display: inline;
}

/* Footer */
footer{
    background-image: linear-gradient(var(--body-bg) 50%,var(--body-bg-menu) 80%, var(--font-theme) 80%);
    width: 100%;
    padding: 90px 20px 20px 20px;
    color:var(--body-font);
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    z-index: 1;
}
footer a label{
    color:var(--body-font);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
footer i{
    margin: 5px;
    
}
footer label{
    margin: 5px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif; 
}
footer iframe{
    border-radius: 10px;
    margin: 20px 0 20px 0; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.474);
}
.coluna-assinatura{
    padding-bottom: 40px;
}
.footer-assinatura{
    font-family: 'Dancing Script', cursive, 'Open Sans', sans-serif;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    margin-bottom: 40p
}
.footer-assinatura p{
    position: relative;
    color: var(--body-font);
    font-weight: bold;
    margin-top: 20px;
    animation: animationFooter 10s ease-in-out infinite;
    animation-delay: 4s;
}
.footer-assinatura p::after{
    content:'Copyright © 2022 . Todos os direitos reservados.';
    font-family: 'Open Sans', sans-serif; 
    font-size: 12px;
    position: absolute;
    top: 70px;
    left: 0;
    font-weight: 600;
    text-align: center;
    width: 100%;
}
@media only screen and (min-width: 992px){
    @keyframes animationFooter {
        0%,100%{
            color: var(--body-font);
        }50%{
            color: var(--font-theme);
        }
    }
}

/* Hover */
header button:hover{
    box-shadow: 0 0 0 2px var(--font-theme);
    transition: 0.2s ease-in-out;
}
.menu-cor-vermelho:hover{box-shadow:  0 0 0 2px #dd2929;transition: 0.2s ease-in-out;}
.menu-cor-amarelo:hover{box-shadow:  0 0 0 2px #d49c23;transition: 0.2s ease-in-out;} 
.menu-cor-lilas:hover{box-shadow:  0 0 0 2px #733af8;transition: 0.2s ease-in-out;}
.menu-cor-azul:hover{box-shadow:  0 0 0 2px #2c76ff;transition: 0.2s ease-in-out;}
.menu-cor-verde:hover{box-shadow:  0 0 0 2px #2ebd7a;transition: 0.2s ease-in-out;}
main a:hover{
    color: inherit;
    text-decoration: inherit;
}
main li:hover{
    background-color: var(--font-theme);
    border-radius: 40px;
    transition: 0.3s ease-in-out;
    color: var(--font-buttom)
}
.contatos i:hover{
    background-color: var(--font-theme);
    box-shadow: 0 0 0 8px var(--font-theme);
    border-radius: 50%;
    color: var(--font-buttom);
    transition: 0.2s ease-in-out;
}
.menu-button:hover{
    box-shadow:  0 0 0 2px var(--font-theme), 2px 2px 5px 0px rgba(0, 0, 0, 0.425);
    transition: box-shadow 0.2s ease-in-out;
}
.card-container button:hover{
    box-shadow:0 0 0 2px var(--font-theme);
    transition: 0.2s ease-in-out;
}
.botao-seta-esquerda:hover{
    box-shadow:0 0 0 2px var(--font-theme), 2px 2px 5px 0px rgba(0, 0, 0, 0.425);
    transition: 0.2s ease-in-out;
}
.botao-seta-direita:hover{
    box-shadow:0 0 0 2px var(--font-theme), 2px 2px 5px 0px rgba(0, 0, 0, 0.425);
    transition: 0.2s ease-in-out;
}
.menu-tema-principal-base:hover{
    box-shadow:  0 0 0 2px var(--tema-color);transition: 0.2s ease-in-out;
}
.container-redes a:hover{
    color: var(--font-theme);
}

footer a label:hover{
    color:var(--font-theme);
    cursor: pointer;
    text-decoration: underline;
}

/* active */
.menu-cor-vermelho:active, .menu-cor-amarelo:active, .menu-cor-verde:active, .menu-cor-azul:active, .menu-cor-lilas:active{
    box-shadow: none;
}
.menu-tema-principal-base:active{
    box-shadow: none;
}
main li:active{
    background-color: var(--actve-color);
    transition: 0.2s;
}
.menu-button:active{
    background-color: var(--actve-color);
    box-shadow: 0 0 0 2px var(--actve-color);
    transition: 0.2s;
}
header button:active{
    background-color: var(--actve-color);
    box-shadow: 0 0 0 2px var(--actve-color);
    transition: 0.2s;
}
.card-container button:active{
    background-color: var(--actve-color);
    box-shadow: 0 0 0 2px var(--actve-color);
    transition: 0.2s;
}
.botao-seta-esquerda:active{
    background-color: var(--actve-color);
    transition: 0.2s;
    box-shadow:0 0 0 2px  var(--actve-color), 2px 2px 5px 0px rgba(0, 0, 0, 0.425);
}
.botao-seta-direita:active{
    background-color: var(--actve-color);
    transition: 0.2s;
    box-shadow:0 0 0 2px  var(--actve-color), 2px 2px 5px 0px rgba(0, 0, 0, 0.425);
}